{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"group":"doc","deltas":[{"action":"insertText","range":{"start":{"row":25,"column":33},"end":{"row":26,"column":0}},"text":"\n"}]}],[{"group":"doc","deltas":[{"action":"insertText","range":{"start":{"row":26,"column":0},"end":{"row":26,"column":16}},"text":"/public/system/*"}]}]]},"ace":{"folds":[],"scrolltop":9,"scrollleft":0,"selection":{"start":{"row":26,"column":16},"end":{"row":26,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1411423311864,"hash":"c0c9cd50d875a177af5985d5d6202e21d3c590f8"}